h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;

  @include media(md) {
    font-size: 36px;
  }

  @include media(lg) {
    font-size: 45px;
    line-height: 1.2;
  }
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;

  @include media(md) {
    font-size: 30px;
    line-height: 1.7;
  }

  @include media(lg) {
    font-size: 38px;
    line-height: 1.4;
  }
}
