html {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 0px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
}

.container {
  width: 100%;
  max-width: $sm-max;
  margin: 0 auto;
  padding-right: $padding--sm;
  padding-left: $padding--sm;

  @include media(md) {
    max-width: $md-max;
    padding-right: $padding--md;
    padding-left: $padding--md;
  }

  @include media(lg) {
    max-width: $lg;
    padding-right: $padding--lg;
    padding-left: $padding--lg;
  }

  @include media(xlg) {
    max-width: $xlg;
  }
}

.rate {
  color: $red1;

  span {
    font-size: 22px;
  }
}
