html {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 0px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
}

.container {
  width: 100%;
  max-width: $sm-max;
  margin: 0 auto;
  padding-right: $padding--sm;
  padding-left: $padding--sm;

  @include media(md) {
    max-width: $md-max;
    padding-right: $padding--md;
    padding-left: $padding--md;
  }

  @include media(lg) {
    max-width: $lg;
    padding-right: $padding--lg;
    padding-left: $padding--lg;
  }

  @include media(xlg) {
    max-width: $xlg;
  }
}

.rate {
  color: $red1;

  span {
    font-size: 22px;
  }
}

.hidden {
  display: none;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stroke-rotate {
  0%,
  25%,
  25.0001%,
  50%,
  50.0001%,
  75%,
  75.0001%,
  100% {
    stroke-dashoffset: 268px;
  }
  12.5%,
  12.5001%,
  37.5%,
  37.5001%,
  62.5%,
  62.5001%,
  87.5%,
  87.5001% {
    stroke-dashoffset: 56px;
  }
  0%,
  12.5% {
    transform: rotate(0);
  }
  12.5001%,
  25% {
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001%,
  37.5% {
    transform: rotate(270deg);
  }
  37.5001%,
  50% {
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001%,
  62.5% {
    transform: rotate(180deg);
  }
  62.5001%,
  75% {
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001%,
  87.5% {
    transform: rotate(90deg);
  }
  87.5001%,
  100% {
    transform: rotateX(180deg) rotate(341.5deg);
  }
}
