// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;

$blue1: #223c50;
$yellow1: #FFA217;
$gray3: #e5e5e5;
$gray4: #c6c6c6;
$gray5: rgba(0, 1, 1, 0.25);
$green1: #63D1BB;
$green2: #46C1AE;
$green3: #56C3B2;
$green4: #149080;
$green5: #62D1BA;
$black1: #231F20;
$black2: #444444;
$red: #ff0000;
$base-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);

// Fonts
$main-font: "Muller", "Arial", sans-serif;
$alternate-font: "Noto Sans", "Arial", sans-serif;

// Animation
$default-transition-settings: 0.13s ease-in-out;
$transition-long: 0.3s ease-in-out;
$modal-settings: 0.1s cubic-bezier(0.55, 0, 0.1, 1);

// Breakpoints
$sm-max: 833.9px;
$md: 834px;
$md-max: 1532.9px;
$lg: 1533px;
$lg-max: 1919.9px;
$xlg: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding
$padding--sm: 25px;
$padding--md: 30px;
$padding--lg: 180px;
