// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;

$blue1: #223c50;
$yellow1: #FFA217;
$black1: #3D2F30;
$black2: #554445;
$red1: #8A1812;
$gray1: #BDBDBD;
$gray2: #F4F3F1;
$gray3: #F0F0F0;

// Fonts
$main-font: "Muller", "Arial", sans-serif;
$alternate-font: "Noto Sans", "Arial", sans-serif;

// Animation
$default-transition-settings: 0.13s ease-in-out;
$transition-long: 0.3s ease-in-out;

// Breakpoints
$sm-max: 833.9px;
$md: 834px;
$md-max: 1532.9px;
$lg: 1533px;
$lg-max: 1919.9px;
$xlg: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding
$padding--sm: 25px;
$padding--md: 30px;
$padding--lg: 180px;
