.request {
  padding-left: 14px;
  padding-right: 14px;

  @include media(md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media(lg) {
    padding-left: 180px;
    padding-right: 180px;
  }

  @include media(xlg) {
    padding-left: 374px;
    padding-right: 374px;
  }
}

.request__wrapper {
  background-color: $black1;
  border-radius: 6px;
  padding: 50px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(md) {
    padding: 50px 103px;
  }

  @include media(lg) {
    padding: 58px 161px;
  }
}

.request__title {
  color: $color-default-white;
  margin-bottom: 10px;

  @include media(lg) {
    margin-bottom: 16px;
  }
}

.request__lead {
  font-size: 16px;
  line-height: 1.4;
  color: rgba($color-default-white, 0.8);
  text-align: center;
  margin-bottom: 20px;

  @include media(md) {
    font-size: 18px;
  }

  @include media(lg) {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

.request__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.request__form-list {
  @include listres;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  width: 90%;
  margin-bottom: 20px;

  @include media(md) {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 25px;
  }
}

.request__form-item {
  width: 100%;
  height: 53px;

  @include media(md) {
    width: calc((100% - 20px) / 2);
  }

  .custom-select-container {
    font-size: 16px;
    line-height: 1;
    color: $black2;

    @include media(lg) {
      font-size: 19px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%) rotate(315deg);
      right: 24px;
      width: 6px;
      height: 6px;
      border-left: 2px solid $yellow1;
      border-bottom: 2px solid $yellow1;
      pointer-events: none;
      transition: $default-transition-settings;
    }

    &.is-open {
      .custom-select-opener {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &::after {
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }

  .custom-select-opener {
    height: 53px;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background-color: $color-default-white;
    border-radius: 3px;

    &:hover {
      outline: 2px solid $yellow1;
      outline-offset: calc(-1 * 2px);
    }

    &:focus-visible {
      outline: 2px solid $yellow1;
      outline-offset: calc(-1 * 2px);
    }
  }

  .custom-select-panel {
    background-color: $color-default-white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .custom-select-option {
    padding: 5px 20px;
    transition: $default-transition-settings;
    cursor: pointer;

    &.has-focus {
      background-color: $yellow1;
      color: $color-default-white;
    }
  }
}

.request__form-input {
  @include inputres;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  color: $black2;
  width: 100%;
  height: 53px;
  background-color: $color-default-white;
  border-radius: 3px;
  padding: 14px 20px;
  transition: $default-transition-settings;

  @include media(lg) {
    font-size: 19px;
  }

  &:hover {
    outline: 2px solid $yellow1;
    outline-offset: calc(-1 * 2px);
  }

  &:focus-visible {
    outline: 2px solid $yellow1;
    outline-offset: calc(-1 * 2px);

    &::placeholder {
      font-size: 0;
    }
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1;
    color: $black2;

    @include media(lg) {
      font-size: 19px;
    }
  }
}

.request__form-button {
  @include btnres;
  display: grid;
  place-items: center;
  min-width: 232px;
  min-height: 49px;
  background-color: $yellow1;
  border-radius: 5px;
  font-family: $alternate-font;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-default-white;
  transition: $default-transition-settings;

  @include media(lg) {
    min-width: 242px;
  }

  &:hover {
    background-color: $color-default-white;
    color: $yellow1;
  }

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    outline: none;
    background-color: $color-default-white;
    color: $yellow1;
  }
}
