.up-button {
  border: 2px solid transparent;
	width:50px;
	height:50px;
	position:fixed;
	bottom:30px;
	right:30px;
	background-color: $yellow1;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
  opacity: 0;
  transition: $default-transition-settings;
  cursor: pointer;

  @include media(lg) {
    bottom:60px;
	  right:60px;
    width:70px;
	  height:70px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-left: 3px solid $color-default-white;
    border-top: 3px solid $color-default-white;
    transform: translate(-50%, -30%) rotate(45deg);
    transition: $transition-long;
  }

  &:hover {
    border-color: $yellow1;
    background-color: $color-default-white;

    &::before {
      border-left-color: $yellow1;
      border-top-color: $yellow1;
      transform: translate(-50%, -45%) rotate(45deg);
    }
  }

  &:focus-visible {
    outline: 0;
    border-color: $yellow1;
    background-color: $color-default-white;

    &::before {
      border-left-color: $yellow1;
      border-top-color: $yellow1;
      transform: translate(-50%, -45%) rotate(45deg);
    }
  }

  &--shown {
    opacity: 1;
  }
}
